@import url(./landing.css);
@media (min-width: 576px) and (max-width: 767px) {
  /* Header*/
  .overlay h1 {
    display: block;
    text-align: center;
    font-size: 100px;
  }
  .overlay p {
    display: flex;
    font-size: 90px;
    text-align: center;
  }
  .overlay h2 {
    font-size: 100px;
    display: flex;
    text-align: center;
  }
  .main {
    height: 100%;
    display: block;
    width: auto;
    background-image: url(../images/LAND.png);
  }
  /*end of header*/
  /*about*/
  .Container-fluid img {
    width: 150px;
    height: 150px;
  }
  .Container-fluid {
    height: 100%;
  }
  .Container-fluid h1 {
    font-size: 50px;
  }
  .Container-fluid p {
    font-size: 20px;
  }
  .explore {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
  }
  /* end of about*/
  /*Schedule*/
  .schedule {
    display: flex;
    margin-bottom: 50px;
  }
  .schedule h1 {
    font-size: 50px;
  }
  /*End of schedule*/
  /*Teams*/
  .team h1 {
    margin-bottom: 30px;
    justify-content: center;
  }
  .flex-container img {
    margin-right: 2px;
    height: 220px;
    width: 220px;
  }
  /*End of teams*/
  /*partners*/
  /*footer*/
  footer .row {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
  }
  footer .footer col ul {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .footer col input {
    width: 100%;
  }
}