@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Six+Caps&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/*1st page*/

nav {
    background: #242424;   
    width: auto;
}


.main{
    height: 100vh;
    position: relative;
    background-image: url(../images/LAND.png);
    width: auto;
    background-size: cover;  
    background-color: rgba(0, 0, 0, 0.5);  
}


div img {
    
    width: 65px;
    height: 65px;
    margin-right: 50px;
    margin-left: 25px;
}

.navbar-nav{
    text-shadow: 2px;
    

}
.navbar-nav a{
    display: flex;
    font-family:'Nunito', sans-serif;
    text-transform: uppercase;
    justify-content: flex-end;
    color: #ffff;
    text-decoration: none;
    

}

.social-icon a{
    text-decoration: none;
}
.social-icon ion-icon{ 
    color: white;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    
}

/*End of 1st page*/

/*About Me*/

.overlay h1{
    display: flex;
    margin-bottom: 100px;
    margin-top: 80px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-style: italic;
    font-size: 110px;
    color: white;
    font-family:'Six Caps', sans-serif;
    justify-content: flex-start;
    text-decoration: underline #424254;
    
}

.overlay p{
    display: flex;
    text-align: center;
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    margin-left: 200px;
    color: #424254;
    margin-bottom: 0px;
    text-shadow: 0px 0px 4px;

}

.overlay h2{
    display: flex;
    text-align: center;
    font-size: 150px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    margin-left: 90px;
    color:   #c28f23;
    margin-top: 0px;
    text-shadow: 3px 0 0 ;

}




.Container-fluid {
    display: flex;
    position: relative;
    background-color: white;
    justify-content: center;
    height: 30vh;
    margin-top: 100px;
   

}

.Container-fluid h1{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 80px;

}

.Container-fluid p{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    
}

.Container-fluid img {
    height: 13rem;
    width: 13rem;
   
 
}

.Container-fluid .text{
    display: flex;
    flex-direction: column;
}

/* buttons*/

button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    width: 10rem;
   }
   
button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
button:hover::before {
    width: 105%;
}
   
button:hover {
    color: #111;
}

   /*End of button*/

   /*Schedule*/

.schedule {
    display: flex;
    position: relative;
    height: 60vh;
    background-color:rgba(13,18,35,255);
    clip-path: polygon(100% 0,0 100%,100%);
    flex-direction: column;
    
}


.schedule h2{
    font-size: 20px;
    color: #3C96CF;
    font-weight: bold;
    text-shadow: 0px 0px 3px;
    margin-left: 100px;
    margin-top: 100px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
}

.schedule h1 {
    font-size: 100px;
    margin-left: 90px;
    font-family: 'Bangers', cursive;;
    color: white;
    margin-bottom: 35px;
    
}

.schedule p{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px;

}

/* Schedule button*/

.schedule button {
   
    padding: 0.8em 1.8em;
    border: 2px solid white;
    overflow: hidden;
    background-color: transparent;
    margin-left: 100px;
    margin-top: 70px;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
    width: 10rem;
   }
   
.btn2::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
    
}
   
.btn2:hover::before {
    width: 105%;
}
   
.btn2:hover {
    color: white;
}


   /*End of button*/


   /*Teams*/

.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    background: white;
    
}   


.flex-box img{
    align-items: center;
    height: 425px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 15px 15px 50px black;
    filter: grayscale();
    transition: filter 0.4s ease-in-out;
}
.flex-box img:hover {
    filter: none;
}

.flex-box img:hover {
    cursor: pointer;
}

.team {
    background: white;
    height: 60vh;
    

}
.team h1{  
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(13,18,35,255) ;
    font-size: 55px;
    text-transform: uppercase;
}


    
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
